	h1{
		margin: 80px;
	/*	background-color: burlywood;
		color: coral;
		display: inline-block;
		font-size: 2.55em;
		margin:  2px 3px 5px 4px;
		padding: 5px;

	} 
	h2{
		visibility: hidden;
	}
	body{
		margin: 3px;
		background-color: bisque;
	}
